# ==========================
# Node.js
# ==========================
**/node_modules/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Docker
# ==========================
*.tar

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db